<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog.org/schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://nlog.org/schema NLog.xsd">
	<targets>
		<target name="file" xsi:type="File" fileName="logs/app-log.txt" layout="${longdate} ${level:uppercase=true} ${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
